In [1]:
# exploring RFW data
import os
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils import data
from torchvision import models,transforms
import matplotlib.pyplot as plt
import pickle
from collections import OrderedDict
import csv
import collections
import PIL.Image

In [28]:
path = "data/RFW/images/test/txts/"

# African images
african_images = pd.read_csv(path + 'African/African_images.txt', sep="\t", header=None)
african_images.columns = ['identityID', 'faceID']
african_images['Ethnicity'] = 'African'
# Asian images
asian_images = pd.read_csv(path + 'Asian/Asian_images.txt', sep="\t", header=None)
asian_images.columns = ['identityID', 'faceID']
asian_images['Ethnicity'] = 'Asian'
# Caucasian images
caucasian_images = pd.read_csv(path + 'Caucasian/Caucasian_images.txt', sep="\t", header=None)
caucasian_images.columns = ['identityID', 'faceID']
caucasian_images['Ethnicity'] = 'Caucsian'
# Indian images
indian_images = pd.read_csv(path + 'Indian/Indian_images.txt', sep="\t", header=None)
indian_images.columns = ['identityID', 'faceID']
indian_images['Ethnicity'] = 'Indian'

               identityID  faceID Ethnicity
0       m.05zdk2_0004.jpg       0    Indian
1       m.05zdk2_0003.jpg       0    Indian
2       m.05zdk2_0005.jpg       0    Indian
3       m.05zdk2_0002.jpg       0    Indian
4       m.05zdk2_0001.jpg       0    Indian
...                   ...     ...       ...
10303  m.027nbyf_0002.jpg    2982    Indian
10304  m.027nbyf_0001.jpg    2982    Indian
10305  m.027nbyf_0005.jpg    2982    Indian
10306   m.098d5s_0002.jpg    2983    Indian
10307   m.098d5s_0001.jpg    2983    Indian

[10308 rows x 3 columns]

In [30]:
all_images = pd.concat([african_images,asian_images,caucasian_images,indian_images])

               identityID  faceID Ethnicity
0       m.0c7mh2_0003.jpg       0   African
1       m.0c7mh2_0001.jpg       0   African
2       m.0c7mh2_0002.jpg       0   African
3      m.026tq86_0003.jpg       1   African
4      m.026tq86_0001.jpg       1   African
...                   ...     ...       ...
10303  m.027nbyf_0002.jpg    2982    Indian
10304  m.027nbyf_0001.jpg    2982    Indian
10305  m.027nbyf_0005.jpg    2982    Indian
10306   m.098d5s_0002.jpg    2983    Indian
10307   m.098d5s_0001.jpg    2983    Indian

[40607 rows x 3 columns]